.marker {
  width: 80%;
  display: flex;
  border: 1px solid lightgrey;
  background-color: bisque;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  .marker__content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content__title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .content__uri {
      overflow: hidden;
      height: 16px;
      margin-bottom: 4px;
    }
    .content_tags {
      margin-bottom: 4px;
    }
    .content__date {
      font-size: 12px;
    }
  }
  .marker__content_edit {
    width: 80%;
    .content_edit__form {
      width: 100%;
      position: relative;
      .form__save {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .marker__edit-mode-button {
    position: absolute;
    bottom: 3px;
    right: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: lightblue;
    padding: 2px 4px;
  }
  .marker__delete-button {
    position: absolute;
    top: 2px;
    right: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    .delete-button__text {
      font-size: 18px;
    }
  }
}
